version: "3.9"

services:
  neo4j:
    image: neo4j:5.25
    container_name: neo4j
    ports:
      - "7474:7474" # HTTP UI
      - "7687:7687" # Bolt
    environment:
      NEO4J_AUTH: neo4j/neo12345678
      NEO4J_PLUGINS: '["apoc"]'
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
      - neo4j_import:/import
    restart: unless-stopped

volumes:
  neo4j_data:
  neo4j_logs:
  neo4j_import:
